<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>Base URL</h1>

    <div class="container">
        <p>Try:
            <br />
            /users
            <br />
            /owners
            <br />
            /locations
            <br />
            <br />
            Tip: they all have a /display attached aswell
        </p>
    </div>
</body>

</html>