<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locations</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>Locations</h1>


    <div class="container">

        <p>
            <% locations.forEach((l)=> { %>
                <%= "City: " + l.city %> <br>
                    <%= "Menu Items: " + l.menuItems.join(", ") %> <br>
            <%= " Specialty Dishes: " + l.specialtyDishes %> <br>

                <br /> <br />
                <% }) %>

    </p>

</div>

</body>

</html>